_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_pages/CV/index.html
_resources/website-enumeration.md
Notes.txt
RUN THE PAGE.bat
TODO.txt
.gitignore


_blog/2025-12-31-interview-blog-post.md



_blog/2025-08-69-the-looking-glass-v2.md




_blog/2025-11-28-my-interview-with-a-tech-giant-part-2.md
assets/images/thumbnails/my_interview_with_a_tech_giant_part_2/thumbnail.png


_blog/2025-11-19-TEMP.md
