* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: lime;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#terminal {
    width: 60%;
    height: 70%;
    font-size: 20px;
    white-space: pre-wrap;
    overflow-y: auto;
}

#output {
    min-height: 60%;
}

#prompt {
    display: flex;
    margin-top: 20px;
}

#gt-symbol {
    margin-right: 5px;
}

#cursor {
    animation: blink 1s step-end infinite;
}

input {
    border: none;
    background-color: black;
    color: lime;
    width: 90%;
    font-size: 20px;
    outline: none;
    text-align: left;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
