<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="FL3qD6QSgYhhhzneW8qpNNqBgHewE_MPPQnWXKq7XUU" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
    {{ content }}
</body>
</html>